doctype=html
html(language=en)
  head

    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css", integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-2.2.4.js", integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
    
  body
    .container
        .row
            .col-md-6
                form(method='POST' action='/akaunting')
                    .form-group
                        h2 Akaunting
                        label(for='Database') Database
                        input#exampleInputEmail1.form-control(type='text' aria-describedby='emailHelp' name='database' placeholder='Enter Databese')
                        label(for='User') User
                        input#exampleInputEmail1.form-control(type='text' aria-describedby='emailHelp' name='user' placeholder='Enter User')
                        label(for='exampleInputPassword1') Password
                        input#exampleInputPassword1.form-control(type='password' placeholder='Password' name='password')

                        h2 OpenCart
                        label(for='Database') Database
                        input#exampleInputEmail1.form-control(type='text'  name='opencartdb' placeholder='Enter Databese')
                        label(for='User') User
                        input#exampleInputEmail1.form-control(type='text'  name='opencartuser' placeholder='Enter User')
                        label(for='exampleInputPassword1') Password
                        input#exampleInputPassword1.form-control(type='password' placeholder='Password'  name='opencartpw')
                    .form-check
                    .col-md-12
                       button.btn.btn-primary.btn-md(type='submit') Akaunting Müşteri ve Ürün Sync Başlat 
                       br
                       br
                    .col-md-12 
                        a.btn.btn-primary.btn-md(href='http://localhost:3000/orderakaunting' role='button') Sipariş Değişikleri için Senkronizasyon Başlat.

            .col-md-6
                 form(method='POST' action='/zirve')
                    .form-group
                        h2 Zirve
                        label(for='Database') Database
                        input#exampleInputEmail1.form-control(type='text' name='database'  placeholder='Enter Databese')
                        label(for='User') User
                        input#exampleInputEmail1.form-control(type='text' name='user' placeholder='Enter User')
                        label(for='exampleInputPassword1') Password
                        input#exampleInputPassword1.form-control(type='password'  placeholder='Password' name='password')

                        h2 OpenCart
                        label(for='Database') Database
                        input#exampleInputEmail1.form-control(type='text'  name='opencartdb' placeholder='Enter Databese')
                        label(for='User') User
                        input#exampleInputEmail1.form-control(type='text'  name='opencartuser' placeholder='Enter User')
                        label(for='exampleInputPassword1') Password
                        input#exampleInputPassword1.form-control(type='password' placeholder='Password'  name='opencartpw')
                    .form-check
                    button.btn.btn-primary(type='submit') Zirve Eşitle
        